<style type="text/css">
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }

  .code {
    font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  }

  .value {
    padding: 10px;
    border: 1px solid #cacaca;
    line-height: 1.2em;
    overflow:auto;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #FAFAFB;
    color: #393939;
    margin: 0px;
    max-width: 800px;
    display: block;
  }
</style>
<% content_for :title do %>Logs<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">
          <pre>Localtower::Plugins::Capture.new(self, binding).save</pre>
        </h4>
      </div>
      <div class="content">
        <table class="table">
          <thead>
            <th>TYPE</th>
            <th>IN CLASS</th>
            <th>IN METHOD</th>
            <th>VARIABLE</th>
            <th>VALUE</th>
          </thead>
          <tbody>
            <% @logs["variables"].each do |item| %>
              <tr>
                <td>
                  <%= item["type"] %>
                </td>
                <td>
                  <%= item["meta"]["from_klass"]  %>
                </td>
                <td>
                  <%= item["meta"]["from_method"]  %>
                </td>
                <td>
                  <%= item["event_name"]  %>
                </td>
                <td>
                  <pre><%= item["returned"].to_json.html_safe %></pre>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
