<style type="text/css">
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }

  .code {
    font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  }

  .value {
    padding: 10px;
    border: 1px solid #cacaca;
    line-height: 1.2em;
    overflow:auto;
    max-height: 800px;
    max-width: 800px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #FAFAFB;
    color: #393939;
    margin: 0px;
    display: block;
  }
</style>
<% content_for :title do %>Logs<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">
          <pre>Localtower::Plugins::Capture.new(self, binding).save</pre>
        </h4>
      </div>
      <div class="content">
        <table class="table">
          <thead>
            <th>TYPE</th>
            <th>IN CLASS</th>
            <th>IN METHOD</th>
            <th>VARIABLE</th>
            <th>VALUE</th>
          </thead>
          <tbody>
            <% @logs.each do |log| %>
              <% log["variables"].each do |item| %>
                <tr>
                  <td>
                    <span class="label label-success">
                      <%= item["type"] %>
                    </span>
                  </td>
                  <td>
                    <span>
                      <a class="code" href="subl://open/?url=file://<%= item["meta"]["sublime_path"] %>">
                        <%= item["meta"]["from_klass"] %>
                      </a>
                    </span>
                  </td>
                  <td>
                    <span class="code">
                      <%= item["meta"]["from_method"]  %>
                    </span>
                  </td>
                  <td>
                    <span class="code">
                      <%= item["event_name"]  %>
                    </span>
                  </td>
                  <td>
                  <a href="<%= log_var_path(log["md5"], item["event_name"]) %>">open</a>
                    <pre class="value json code"><%= Localtower::Plugins::Capture.printable(item["returned"]) %></pre>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
