<% content_for :title do %>Migrations<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title"></h4>
      </div>

      <div class="content">
        <%= form_tag migrations_path, class: "form" do %>

        <table class="table table-hover table-striped">
          <thead>
            <th> <span data-selector=''>On Model</span></th>
            <th> <span data-selector=''>Action</span></th>
            <th> <span data-selector='belongs_to_label'>Belongs To</span></th>
            <th> <span data-selector='column_label'>Column</span></th>
            <th> <span data-selector='new_column_name_label'>New Column Name</span></th>
            <th> <span data-selector='column_type_label'>Type</span></th>
            <th> <span data-selector='index_label'>Index?</span></th>
            <th> <span data-selector='nullable_label'>Can be null?</span></th>
            <th> <span data-selector=''></span></th>
          </thead>

          <tbody data-selector="tbody">
            <tr data-selector="tr">
              <td>
                <%= select_tag "migrations[migrations][][table_name]", options_for_select(Localtower::Tools.models.collect {|p| [ p, p.table_name ] }), class: "form-control" %>
              </td>

              <td>
                <%= select_tag "migrations[migrations][][action]", options_for_select(::Localtower::Generators::Migration::ACTIONS), class: "form-control", "data-selector" => "action" %>
              </td>

              <td>
                <%= select_tag "migrations[migrations][][belongs_to]", options_for_select(Localtower::Tools.models.collect {|p| [ p, p.table_name ] }), class: "form-control", "data-selector" => "belongs_to" %>
              </td>

              <td class="text-center">
                <input type="text" name="migrations[migrations][][column]" class="form-control" data-selector="column_text">

                <%= select_tag "migrations[migrations][][column_list]", options_for_select(::Localtower::Tools.all_columns), class: "form-control", include_blank: true, "data-selector" => "column_list", style: "display:none;" %>
              </td>

              <td>
                <input type="text" name="migrations[migrations][][new_column_name]" class="form-control" data-selector="new_column_name">
              </td>

              <td>
                <%= select_tag "migrations[migrations][][column_type]", options_for_select(::Localtower::Generators::Migration::TYPES), class: "form-control", "data-selector" => "column_type" %>
              </td>

              <td>
                <input type="checkbox" name="migrations[migrations][][index]" class="form-control" data-selector="index">
              </td>

              <td>
                <input type="checkbox" name="migrations[migrations][][nullable]" class="form-control" checked="" data-selector="nullable">
              </td>

              <td>
                <div class="pull-right">
                  <button class="btn btn-danger btn-xs pointer" data-selector="remove">Remove</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-12 text-center">
            <i class="pe-7s-plus pointer" data-selector="duplicate" style="font-size: 3em;"></i>
          </div>
        </div>

        <hr>

        <!-- multiple lines: -->
        <div class="row">
          <div class="col-md-12 text-center">
            <button name="migrations[run_migrate]" type="submit" value="true" class="btn btn-success" data-selector="submit">
            Create the migration and <b>migrate</b>
            </button>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="header">
        <h4 class="title">Migrations</h4>
      </div>

      <div class="content">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
          </tr>

          </thead>
          <tbody>
            <% @migrations.each do |entry| %>
            <%
            klass = (entry["status"] == :done) ? "success" : "danger"
            %>
            <tr class="<%= klass %>">
              <td>
                <%= entry["name"] %>
              </td>

              <td>
                <%= entry["time"] %>
              </td>

              <td>
                <%= entry["status"] == :done ? 'done' : 'not executed' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
