<% content_for :title do %>Migrations<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="content">
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <span><%= flash[:notice] %></span>
        </div>
      <% end %>
      <div class="card">
        <div class="header">
          <% if @migrations.select {|i| i['status'] == :todo}.any? %>
            <%= form_tag actions_path, class: "form" do %>
              <button name="cmd" type="submit" value="rails db:migrate" class="btn btn-warning btn-fill" data-selector="submit">
                Migrate Pending Migrations <code>bundle exec rails db:migrate</code>
              </button>
            <% end %>
          <% end %>
        </div>
        <div class="content">
          <% if @migrations.any? %>
            <% @migrations.each do |entry| %>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h5 style="color: <%= entry['status'] == :todo ? 'red' : 'green' %>;">
                      <% if entry['status'] == :todo %>
                        <button type="button" class="btn btn-danger btn-xs">PENDING</button>
                        <a href="<%= file_link(entry['file_full_path']) %>"><%= entry['name'] %></a>
                      <% else %>
                        <%= form_tag actions_path, class: "form" do %>
                          <button name="cmd" title="rake db:migrate:down VERSION=<%= entry['time'] %>" type="submit" value="rake db:migrate:down VERSION=<%= entry['time'] %>" class="btn btn-info btn-xs btn-fill">
                            ROLLBACK
                          </button>
                          <a href="<%= file_link(entry['file_full_path']) %>"><%= entry['name'] %></a>
                        <% end %>
                      <% end %>
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <pre><code class="language-ruby"><%= entry['content'] %></code></pre>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="card">
              <div class="">
              </div>
              <div class="alert alert-info">
                <span>No migrations found</span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
