<% content_for :title do %>Models<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="content">
      <div class="">
        <div class="card">
          <div class="">
            <% if @models.empty? %>
              <%= render partial: 'alert_no_models' %>
            <% end %>
          </div>
        </div>
        <div class="grid">
          <div class="grid-sizer"></div>
          <% @models.each do |model| %>
            <div class="grid-item text-small card">
              <div class="text-center">
                <h5><%= model[:name] %></h5>
              </div>
              <table class="table table-hover table-striped table-condensed">
                <thead>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Belongs To</th>
                  <th>Index?</th>
                </thead>
                <tbody>
                  <% model[:attributes_list].each do |attribute_data| %>
                    <tr>
                      <td>
                        <code>
                          <%= attribute_data["name"] %>
                        </code>
                      </td>
                      <td>
                        <%= attribute_data["type_clean"] %>
                      </td>
                      <td>
                        <% if attribute_data["belongs_to"] %>
                          <span class="label label-primary">
                            <%= attribute_data["belongs_to"] %>
                          </span>
                        <% end %>
                      </td>
                      <td>
                        <% if attribute_data["index"].any? %>
                          <span class="label label-success">Yes</span>
                        <% else %>
                          <span class="label label-default">No</span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
