<% content_for :title do %>New Migration<% end %>
<div>
  <div>
    <% if @models.empty? %>
      <%= render partial: 'alert_no_models' %>
    <% end %>
  </div>
  <% if @models.any? %>
    <%= form_tag migrations_path, class: "pb-10" do %>
      <input type="hidden" id="form_attributes" name="migrations">
      <div class="flex flex-col gap-2 pb-4">
        <div class="block text-localtower-100">Migration name <span class="text-localtower-400">(optionnal)</span></div>
        <div class="w-80">
          <input autocomplete="off" type="text" data-selector="modelName" name="migration_name" class="px-2 py-1.5 rounded bg-localtower-600 border border-localtower-500 inline-block w-full outline-none focus:border-localtower-400 transition-colors text-localtower-100 placeholder:italic placeholder:text-localtower-450 focus:placeholder:text-localtower-600 disabled:cursor-not-allowed" placeholder="Ex: AddFieldsToUser" <%= @migrations.any? ? 'disabled' : '' %>>
        </div>
      </div>
      <div class="py-4 flex flex-col gap-4">
        <label class="block text-localtower-100">Actions</label>
        <div id="react-container-new-migration"></div>
      </div>
      <div>
        <button type="submit" value="true" class="px-3 py-1.5 rounded-md bg-green-800 text-localtower-100 border border-green-700 inline-block outline-none hover:border-green-500 hover:bg-green-700 hover:text-white active:opacity-60 transition-colors text-md">
          <%= @migrations.any? ? 'Add to Migration' : 'Generate Migration' %>
        </button>
      </div>
    <% end %>
  <% end %>
  <% if @migrations.any? %>
    <div class="py-10 border-t border-localtower-500 flex flex-col gap-4">
      <h4 class="text-localtower-300">
        There is a pending migration. All new actions will be added to this one:
      </h4>
      <div>
        <% @migrations.take(1).each do |entry| %>
          <%= render partial: 'localtower/migration', locals: { entry: entry } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
