<% content_for :title do %>New Migration<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <% if @models.empty? %>
          <%= render partial: 'alert_no_models' %>
        <% end %>
        <div class="alert alert-warning">
          <span>Remember, you can always edit your migration files manually before running "rails db:migrate"</span>
        </div>
      </div>
      <div id="react-container-new-migration"></div>
      <div class="content">
        <%= form_tag migrations_path, class: "form" do %>
          <input type="hidden" id="form_attributes" name="migrations">
          <div class="row">
            <div class="col-md-12 text-right">
              <button type="submit" value="true" class="btn btn-success btn-fill" data-selector="submitNewMigration">
                Generate the migration
              </button>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <% if @migrations.any? %>
          <h4>
            There is a pending migration. All new actions will be added to this one.
          </h4>
          <h5>
            Run rails:dbmigrate
          </h5>
          <% @migrations.each do |entry| %>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <h5 style="color: <%= entry['status'] == :todo ? 'red' : 'green' %>;">
                    <% if entry['status'] == :todo %>
                      <button type="button" class="btn btn-danger btn-xs">PENDING</button>
                      <a href="<%= file_link(entry['file_full_path']) %>"><%= entry['name'] %></a>
                    <% else %>
                      <%= form_tag actions_path, class: "form" do %>
                        <button name="cmd" title="rake db:migrate:down VERSION=<%= entry['time'] %>" type="submit" value="rake db:migrate:down VERSION=<%= entry['time'] %>" class="btn btn-info btn-xs btn-fill">
                          ROLLBACK
                        </button>
                        <a href="<%= file_link(entry['file_full_path']) %>"><%= entry['name'] %></a>
                      <% end %>
                    <% end %>
                  </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <pre><code class="language-ruby"><%= entry['content'] %></code></pre>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
