<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Localtower - <%= yield :title %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" type="text/css" href="/vendor/highlight-js-default.min.css">
    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>
    <script>
      window.COLUMN_TYPES = <%= ::Localtower::Generators::Migration::TYPES.to_json.html_safe %>;
      window.COLUMN_ACTIONS = <%= ::Localtower::Generators::Migration::ACTIONS.to_json.html_safe %>;
      window.COLUMN_INDEXES = <%= ::Localtower::Generators::ServiceObjects::InsertIndexes::USING.to_json.html_safe %>;
      window.COLUMN_INDEXES_ALGORITHMS = <%= ::Localtower::Generators::ServiceObjects::InsertIndexes::ALGO.to_json.html_safe %>;
      window.COLUMN_DEFAULTS = <%= ::Localtower::Generators::ServiceObjects::InsertDefaults::DEFAULTS_BY_TYPE.to_json.html_safe %>;
      window.APP_MODELS = <%= ::Localtower::Tools.models_presented.to_json.html_safe %>;
    </script>
  </head>
  <body>
    <div class="wrapper flex h-screen bg-gray-100">
      <!-- Sidebar -->
      <nav class="w-[200px] flex-shrink-0 bg-gray-900 text-gray-100">
        <ul class="flex flex-col py-4">
          <li class="<%= is_active_link?(models_path, :exclusive) ? 'bg-gray-800' : '' %>">
            <a href="<%= models_path %>"
           class="flex items-center px-6 py-4 text-gray-300 hover:bg-gray-800 hover:text-white transition-colors duration-200">
              <p class="text-sm font-medium">Models</p>
            </a>
          </li>

          <li class="<%= is_active_link?(migrations_path, :exclusive) ? 'bg-gray-800' : '' %>">
            <a href="<%= migrations_path %>"
           class="flex items-center px-6 py-4 text-gray-300 hover:bg-gray-800 hover:text-white transition-colors duration-200">
              <p class="text-sm font-medium">Migrations</p>
            </a>
          </li>

          <li class="<%= is_active_link?(new_model_path, :inclusive) ? 'bg-gray-800' : '' %>">
            <a href="<%= new_model_path %>"
           class="flex items-center px-6 py-4 text-gray-300 hover:bg-gray-800 hover:text-white transition-colors duration-200">
              <p class="text-sm font-medium">New Model</p>
            </a>
          </li>

          <li class="<%= is_active_link?(new_migration_path, :exclusive) ? 'bg-gray-800' : '' %>">
            <a href="<%= new_migration_path %>"
           class="flex items-center px-6 py-4 text-gray-300 hover:bg-gray-800 hover:text-white transition-colors duration-200">
              <p class="text-sm font-medium">New Migration</p>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main Content -->
      <main class="flex-1 overflow-y-auto p-8">
        <%= yield %>
      </main>
    </div>

    <!--   Core JS Files   -->
    <script src="/vendor/jquery-3.7.1.min.js"></script>
    <script src="/vendor/highlight.min.js"></script>
    <script src="/vendor/masonry.pkgd.min.js"></script>

    <%= javascript_include_tag "application" %>
  </body>
</html>
