<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Localtower - <%= yield :title %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" type="text/css" href="/vendor/highlight-js-default.min.css">
    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>
    <script>
      window.COLUMN_TYPES = <%= ::Localtower::Generators::Migration::TYPES.to_json.html_safe %>;
      window.COLUMN_ACTIONS = <%= ::Localtower::Generators::Migration::ACTIONS.to_json.html_safe %>;
      window.COLUMN_INDEXES = <%= ::Localtower::Generators::ServiceObjects::InsertIndexes::USING.to_json.html_safe %>;
      window.COLUMN_INDEXES_ALGORITHMS = <%= ::Localtower::Generators::ServiceObjects::InsertIndexes::ALGO.to_json.html_safe %>;
      window.COLUMN_DEFAULTS = <%= ::Localtower::Generators::ServiceObjects::InsertDefaults::DEFAULTS_BY_TYPE.to_json.html_safe %>;
      window.APP_MODELS = <%= ::Localtower::Tools.models_presented.to_json.html_safe %>;
    </script>
  </head>
  <body>
    <div class="wrapper">
      <ul class="nav">
        <li class="<%= is_active_link?(models_path, :exclusive) ? "active" : nil %>">
          <a href="<%= models_path %>">
            <p>Models</p>
          </a>
        </li>
        <li class="<%= is_active_link?(migrations_path, :exclusive) ? "active" : nil %>">
          <a href="<%= migrations_path %>">
            <p>Migrations</p>
          </a>
        </li>
        <li class="<%= is_active_link?(new_model_path, :inclusive) ? "active" : nil %>">
          <a href="<%= new_model_path %>">
            <p>New Model</p>
          </a>
        </li>
        <li class="<%= is_active_link?(new_migration_path, :exclusive) ? "active" : nil %>">
          <a href="<%= new_migration_path %>">
            <p>New Migration</p>
          </a>
        </li>
      </ul>
      <div class="main-panel">
        <%= yield %>
      </div>
    </div>
    <div class="full-message" style="display: none;">
      <div class="text-center">
        <h3>Generating files</h3>
        <i class="pe-7s-refresh-2 rotate"></i>
        <br>
        <br>
        <br>
        <p class="full-message-migrate" style="display: none;">
          If you're seeing an error message on the next page (pending migrations), just run in your terminal:
          <br>
          <br>
          <code>bundle exec rails db:migrate</code>
        </p>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/vendor/jquery-3.7.1.min.js"></script>
    <script src="/vendor/highlight.min.js"></script>
    <script src="/vendor/masonry.pkgd.min.js"></script>

    <%= javascript_include_tag "application" %>
  </body>
</html>
