<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Localtower - <%= yield :title %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="shortcut icon" href="/com/favicon-64.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="/vendor/monokai-sublime.css">

    <style>
      @font-face {
        font-family: 'Circular';
        src: url('/fonts/Circular/CircularStd-Book.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: 'Circular';
        src: url('/fonts/Circular/CircularStd-Medium.otf') format('opentype');
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: 'Circular';
        src: url('/fonts/Circular/CircularStd-Bold.otf') format('opentype');
        font-weight: 700;
        font-style: normal;
      }
    </style>
    <%= stylesheet_link_tag "application" %>

    <%= csrf_meta_tags %>
    <script>
      window.COLUMN_TYPES = <%= ::Localtower::Generators::Migration::TYPES.to_json.html_safe %>;
      window.COLUMN_ACTIONS = <%= ::Localtower::Generators::Migration::ACTIONS.to_json.html_safe %>;
      window.COLUMN_INDEXES = <%= ::Localtower::Generators::ServiceObjects::InsertIndexes::USING.to_json.html_safe %>;
      window.COLUMN_INDEXES_ALGORITHMS = <%= ::Localtower::Generators::ServiceObjects::InsertIndexes::ALGO.to_json.html_safe %>;
      window.COLUMN_DEFAULTS = <%= ::Localtower::Generators::ServiceObjects::InsertDefaults::DEFAULTS_BY_TYPE.to_json.html_safe %>;
      window.APP_MODELS = <%= ::Localtower::Tools.models_presented.to_json.html_safe %>;
    </script>
  </head>
  <body class="bg-localtower-700 text-localtower-300 text-sm">
    <div class="wrapper flex h-screen">
      <!-- Sidebar -->
      <nav class="w-[200px] flex-shrink-0 h-screen border-r border-localtower-500">
        <ul class="flex flex-col py-2 px-2">
          <li class="py-0.5">
            <a href="<%= new_model_path %>" class="flex flex-row gap-2 items-center px-4 py-2.5 hover:text-white transition-colors duration-200 rounded <%= is_active_link?(new_model_path, :inclusive) ? 'bg-localtower-500 text-localtower-100 hover:bg-localtower-500' : 'text-gray-400 hover:bg-localtower-600' %> active:opacity-70">
              <i data-lucide="circle-plus" class="w-5 " stroke-width="2"></i>
              <p class="text-sm">New Model</p>
            </a>
          </li>

          <li class="py-0.5">
            <a href="<%= new_migration_path %>" class="flex flex-row gap-2 items-center px-4 py-2.5 hover:text-white transition-colors duration-200 rounded <%= is_active_link?(new_migration_path, :exclusive) ? 'bg-localtower-500 text-localtower-100 hover:bg-localtower-500' : 'text-gray-400 hover:bg-localtower-600' %> active:opacity-70">
              <i data-lucide="circle-plus" class="w-5 " stroke-width="2"></i>
              <p class="text-sm">New Migration</p>
            </a>
          </li>

          <li class="my-2 border-t border-localtower-500 h-1"></li>

          <li class="py-0.5">
            <a href="<%= migrations_path %>" class="flex flex-row gap-2 items-center px-4 py-2.5 hover:text-white transition-colors duration-200 rounded <%= is_active_link?(migrations_path, :exclusive) ? 'bg-localtower-500 text-localtower-100 hover:bg-localtower-500' : 'text-gray-400 hover:bg-localtower-600' %> active:opacity-70">
              <i data-lucide="book-plus" class="w-5 " stroke-width="2"></i>
              <p class="text-sm">Migrations</p>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main Content -->
      <main class="flex-1 overflow-y-auto p-8">
        <%= yield %>
      </main>
    </div>

    <!--   Core JS Files   -->
    <script src="/vendor/jquery-3.7.1.min.js"></script>
    <script src="/vendor/highlight.min.js"></script>
    <script src="/vendor/masonry.pkgd.min.js"></script>
    <script src="/vendor/lucide.min.js"></script>
    <script src="/vendor/rails-ujs.min.js"></script>

    <script>
      lucide.createIcons();
    </script>

    <%= javascript_include_tag "application" %>
  </body>
</html>
